# dependencies
node_modules
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build
frontend/build/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Project Reports, Demo Video and PPT
2018PGCACA09.pdf
2018PGCACA09.pptx
Dockerfile
E-Comm Shop Live .mp4
Project Report Final.pdf
~$2doc.docx
~WRL2653.tmp
miscellanious/